In [ ]:
#mount google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

raw_dataset = pd.read_csv(
    "gdrive/MyDrive/Touch/N_seaice_extent_daily_v3.0.csv",
    skipinitialspace = True)

# drop first row - not real data
raw_dataset = raw_dataset.iloc[1: , :]
#change "Extent" column from string to numeric to average
raw_dataset['Extent'] = pd.to_numeric(raw_dataset['Extent'], errors='coerce')

# create empty dataframe for processed data
processed_dataset = pd.DataFrame(columns = ['Year', 'Month', 'Extent_avg'])

In [ ]:
# iterate over all years
years_list = raw_dataset.Year.unique()
for year in years_list:
  #filter data by year
  year_filter = raw_dataset.loc[raw_dataset['Year'] == year]
  # get distinct months in this year
  months_list = year_filter.Month.unique()
  for month in months_list:
    month_filter = year_filter.loc[raw_dataset['Month'] == month]
    month_mean = month_filter['Extent'].mean()
    processed_dataset = processed_dataset.append({
        'Year': year,
        'Month': month,
        'Extent_avg': month_mean
    }, ignore_index = True)

In [ ]:
processed_dataset

     Year Month  Extent_avg
0    1978    10   10.402667
1    1978    11   11.645133
2    1978    12   13.667063
3    1979    01   15.414000
4    1979    02   16.175286
..    ...   ...         ...
519  2022    01   13.877419
520  2022    02   14.614179
521  2022    03   14.585839
522  2022    04   14.041767
523  2022    05   12.918103

[524 rows x 3 columns]

In [ ]:
processed_dataset.to_csv("gdrive/MyDrive/Touch/processed_dataset.csv")